nav {
  height: 120px;
  position: fixed;
  display: flex;
  background-color: #4daeb6;
  color: #FFFFFF;
  justify-content: space-between;
  width: 100%;
  top : 0;
  right : 0;
  left: 0;
  padding: 1.5em;
  z-index: 1;
 
}

nav #tweeter {
  width: 20%;
  align-items: center;
  font-family: 'Bungee', cursive, sans-serif;
  font-size: 1.5em
}

nav button {
  background: transparent;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  border: none;
}

nav #btn img {
  width: 25px;
  height: 20px;
  animation: arrow 1s linear infinite;
}

.new-tweet {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  font-size: 70%
}

/*
* Animates arrow to strengthen UI for the client.
*/

@keyframes arrow{
  0%{
    transform: translateY(2px);
  }
  25%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(10px);
}
}
